{% extends "blog/base/base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% block content %}
<script src="{% static 'blog/three.js' %}"  ></script>
<script type="module"  src="{% static 'blog/orbitControls.js' %}"  ></script>
<script type="module" src="{% static 'blog/threeCode.js' %}" ></script>
<script>
	document.getElementById("sidebar").style.display = "none";

	document.getElementById("header").classList.add('bg-transparent');

</script>
{% if token == '1'%}
	<div class="flex flex-col items-center justify-center h-screen pb-20">
		<div class="flex flex-col items-center justify-center top">
			<div class="text-3xl font-bold">Connect to Spotify</div>
			<div class="text-xl">To use this feature, you must connect to Spotify</div>
		</div>
		<div class="flex flex-col items-center justify-center mt-4">
			<a href="{% url 'blog:spotify_login' %}" class="bg-[#1DB954] text-white rounded-full px-4 py-2">Connect to Spotify</a>
		</div>
	</div>
{% else %}
	{% comment %} <script>
		token = '{{user.spotify_access_token}}';
		refresh_token = '{{user.spotify_refresh_token}}';
		failure_url = "{% url 'blog:Spotify' %}";
		waitForSpotifyWebPlaybackSDKToLoad(token, failure_url);
		console.log("connecting...") 
  	</script> {% endcomment %}

	<div id="canvas-container">
	  <canvas id="canvas-3d"></canvas>
	  <div id="labels"></div>
	</div>

	<div class="absolute z-10 bg-[#1DB954] bottom-0 right-0 w-full h-20 rounded-t-3xl  p-2">
		<div id="spotify-player" class="flex flex-row justify-around">
			<div id="player-info">
				<div id="player-track-name"></div>
				<div id="player-track-artist"></div>
			</div>
			<button id="togglePlay" onclick="togglePlay()">

				<img id="play-pause" src="{% static 'blog/images/play.png' %}" alt="play" class="w-10 h-10">
				<img id="play-pause" src="{% static 'blog/images/pause.png' %}" alt="pause" class="w-10 h-10">

			</button>
		</div>
	</div>
{% endif %}

{% endblock %}