{% extends "blog/base/base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% block content %}
<script type="module"  src="{% static 'blog/orbitControls.js' %}"></script>
<script type="module" src="{% static 'blog/threeCode.js' %}"></script>
<script src="{% static 'blog/spotifyApi.js' %}"></script>
<script src="{% static 'blog/three.js' %}"  ></script>
<script> 
	access_token = '{{user.spotify_access_token}}';
	failure_url = "{% url 'blog:Spotify' %}";
	window.spotifyApi = new SpotifyApi(access_token, null, failure_url)
</script>
<script> 
	token = '{{user.spotify_access_token}}';
	refresh_token = '{{user.spotify_refresh_token}}';
	failure_url = "{% url 'blog:Spotify' %}";
	waitForSpotifyWebPlaybackSDKToLoad(token, failure_url).then(() => {
		console.log("Spotify Web Playback SDK loaded");
		}
	);
</script>
{% if token == '1'%} 
	<div class="flex flex-col items-center justify-center h-screen pb-20">
		<div class="flex flex-col items-center justify-center top">
			<div class="text-3xl font-bold">Connect to Spotify</div>
			<div class="text-xl">To use this feature, you must connect to Spotify</div>
		</div>
		<div class="flex flex-col items-center justify-center mt-4">
			<a href="{% url 'blog:spotify_login' %}" class="bg-[#1DB954] text-white rounded-full px-4 py-2">Connect to Spotify</a>
		</div>
	</div>
{% else %}
	<script>
		document.getElementById("sidebar").style.display = "none";
		const handleToggle = () => {
			if (document.getElementById("play").style.display == "block") {
				document.getElementById("play").style.display = "none";
				document.getElementById("pause").style.display = "block";
			} else {
				document.getElementById("play").style.display = "block";
				document.getElementById("pause").style.display = "none";
			}
			window.spotifyApi.player.togglePlay();
		}
	</script>
	<div id="canvas-container">
	  <canvas id="canvas-3d"></canvas>
	</div> 

	<div class="absolute z-10 bg-[#1DB954] bottom-0 right-0 justify-center items-center w-full rounded-t-3xl p-2">
		<div id="spotify-player" class="flex flex-row justify-around items-center">
			<button id="play-pause" class="h-full" onclick="handleToggle()"> 
				<img id="play" src="{% static 'blog/images/play.png' %}" alt="play" class="w-10 h-10 outline-none ">
				<img id="pause" src="{% static 'blog/images/pause.png' %}" alt="pause" class="hidden w-10 h-10 outline-none">
			</button>
			<img id="player-track-image" alt="track image" class="w-20 h-20">

			<div id="player-info" class="h-full">
				<div id="player-track-name" class="h-full">Nothing</div>
				<div id="player-track-artist" class="h-full">Nothing</div>
			</div>
		
		</div>
	</div>
{% endif %}

{% endblock %}