{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="font-sans text-slate-700 bg-slate-200">
	<head>
    <title>BrosCode</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script   src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"   integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="   crossorigin="anonymous"></script>
        <script  src="{% static 'blog/app.js' %}"></script>
	</head>
    
	<body class="fixed flex flex-col w-full h-full justify-right align-middle">
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        <script>
            token = '{{user.spotify_access_token}}';
            refresh_token = '{{user.spotify_refresh_token}}';
            failure_url = "{% url 'blog:Spotify' %}";
            waitForSpotifyWebPlaybackSDKToLoad(token, failure_url);
            console.log("connecting...") 
          </script>
        <div id="header" class="sticky top-0 h-auto">
            {% include "blog/base/header.html"%}
        </div>

        <div class="flex flex-row h-full w-full">
            <div id="sidebar" class="h-full w-[20%]">
                {% include "blog/base/sidebar.html" %}
            </div>
            <div id="main-content" class="h-full w-full overflow-scroll">
                {% block content %}
                {% endblock %}       
            </div>
        </div>
{% comment %}             
        <div id="footer" class=" bottom-0 w-full">
            {% include "blog/base/footer.html" %}
        </div> {% endcomment %}

        <div id="login-warning" class="hidden absolute z-10 h-[25%] w-[40%] left-[30%] top-[40%] bg-red-200 border-2 border-red-600 rounded-2xl"  onclick="$(this).hide();">
            {% include "blog/auth/login_warning.html" %}
        </div>
	</body>
</html>
