{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="font-sans w-full max-w-full h-full h-max-full text-slate-700 bg-slate-200">
	<head>
    <title>BrosCode</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script   src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"   integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="   crossorigin="anonymous"></script>
        <script src="{% static 'blog/app.js' %}"></script>
	</head>
    
	<body class="fixed flex flex-col w-full h-full justify-right align-middle">
        <div id="header" class="sticky top-0 h-auto">
            {% include "blog/base/header.html" %}
        </div>

        <div class="flex flex-row h-full w-full">
            <div id="sidebar-left" class="drag h-full w-[20%]">
                {% include "blog/base/sidebar.html" with direction="right" %}
            </div>
            <div id="main-content" class="h-full w-full overflow-scroll">
                {% block content %}
                {% endblock %}       
            </div>
            <div id="sidebar-right" class="drag hidden h-full w-[20]">
                {% include "blog/base/sidebar.html" with direction="left" %}
            </div>
        </div>
            
        <div id="footer h-full">
            {% include "blog/base/footer.html" %}
        </div>

        <div id="login-warning" class="hidden absolute z-10 h-[25%] w-[40%] left-[30%] top-[40%] bg-red-200 border-2 border-red-600 rounded-2xl"  onclick="$(this).hide();">
            {% include "blog/auth/login_warning.html" %}
        </div>
	</body>
</html>
