{% load static tailwind_tags %}
<header class="flex items-center justify-between w-screen bg-slate-200 text-slate-700 h-20 shadow-md shadow-slate-300 mb-1">
  <div class="flex">
    <img src="{% static 'blog/images/BrosCodeLogo.png' %}" alt="logo" class="flex h-20 ml-1 rounded-full p-2">
  </div>
  <div id='placeholder'>
  </div>
  <nav class="flex h-full">
    {% if request.path == '/' %}
      <a class="flex flex-col justify-end p-2 bg-slate-400 active:bg-slate-400 hover:cursor-pointer">
        <span>Home</span>
      </a>
    {% else %}
      <a href="{%url 'blog:index'%}" class="flex flex-col justify-end p-2 hover:bg-slate-300 active:bg-slate-300 {% if request.path == '/' %}bg-slate-400 active:bg-slate-400 hover:bg-slate-400{% endif %}">
        <span>Home</span>
      </a>
    {% endif %}
    {% if user.spotify_access_token %}
      {% if '/spotify' in request.path%}
        <a class="flex flex-col justify-end p-2 bg-slate-400 active:bg-slate-400 hover:cursor-pointer">
          <span>Spotify</span>
        </a>
      {% else %}
        <a href="{% url 'blog:Spotify' %}" class="flex flex-col justify-end p-2 hover:bg-slate-300 active:bg-slate-300">
          <span>Spotify</span>
        </a>
      {% endif %}
    {% else %}
      <div class="flex flex-col items-center justify-center h-screen pb-20">
        <div class="flex flex-col items-center justify-center mt-4">
          <a href="{% url 'blog:Spotify' %}" class="bg-[#1DB954] text-white rounded-full px-4 py-2">Connect</a>
        </div>
      </div>
    {% endif %}
    {% if user.spotify_access_token %}
        <a href="{% url 'blog:spotify_logout' %}" class="flex flex-col justify-end p-2 hover:bg-slate-300 active:bg-slate-300">
          <span>Spotify Logout</span>
        </a>

    {% endif %}
    {% if user.is_authenticated %}
      {% if '/profile' in request.path%}
        <a  class="flex flex-col justify-end h-full p-2 hover:cursor-pointer bg-slate-400">
          <span>Profile</span>
        </a>
      {% else %}
        <a href="{% url 'blog:profile' user.id%}" class="flex flex-col justify-end  h-full p-2 hover:bg-slate-300  active:bg-slate-300">
          <span>Profile</span>
        </a>
      {% endif %}
      <a href="{% url 'blog:logout' %}" class="flex flex-col justify-end p-2 hover:bg-slate-300  active:bg-slate-300">
        <span>Logout</span>
      </a>
    {% else %}
      {% if '/login' in request.path%}
        <a class="flex flex-col justify-end p-2 hover:cursor-pointer bg-slate-400">
          <span>Login</span>
        </a>
      {% else %}
        <a href="{% url 'blog:login' %}" class="flex flex-col justify-end p-2 hover:bg-slate-300  active:bg-slate-300">
          <span>Login</span>
        </a>
      {% endif %}
    {% endif %}

  </nav>
</header>