{% extends "blog/base.html" %}
{% load static tailwind_tags %}
{% load crispy_forms_tags %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
    {% tailwind_css %}
</head>
<body class="flex content-center">
    {% block content %}
    <div class="flex justify-center">  
        <div id="post-content" class="w-full flex flex-col justify-center bg-slate-400 p-2 rounded-t-lg content-center align-middle">
          
            <div class="flex flex-row justify-between align-middle text-center content-center"> 
                <a href="{% url 'blog:profile' post.author.pk %}" class="rounded-lg hover:bg-slate-500 hover:text-slate-200 p-1">
                    {{post.author.username}}</a>
                <span class="p-1">
                    {{post.created_at}}
                </span>
            </div>

            <div class="w-full rounded-lg h-full flex my-2 items-center bg-slate-300 text-accent-darkest">
                <div class="h-min w-8">
                    <button class="p-1  border-r-2 border-t-2 border-slate-400 rounded-t-lg bg-slate-300 hover:bg-slate-400 active:bg-slate-500" id="up{{post.id}}" onclick=vote('up','post',{{post.id}})>
                        {% if user in post.users_upvoted.all %}
                            ▲
                        {% else %}
                            △
                        {% endif %}
                    </button>
                    <button class="p-1  border-r-2 border-b-2 border-slate-400 rounded-b-lg bg-slate-300 hover:bg-slate-400 active:bg-slate-500" id="down{{post.id}}" onclick=vote('down','post',{{post.id}})>
                        {% if user in post.users_downvoted.all %}
                            ▼
                        {% else %}
                            ▽
                        {% endif %}
                    </button>
                </div>
                <div class="flex align-middle">
                    <div class="flex flex-col ml-4 w-4 justify-center " id="votes{{post.id}}"> 
                        {{post.votes}}
                    </div>
                    <span class=" hover:bg-slate-300 rounded-full m-2 p-2">
                        {{ post.title | upper }}
                    </span>
                </div>
            </div>
            <div class="p-4 bg-slate-300 rounded-lg">
                {{post.content}}
            </div>
        </div>
    </div>
    <script>
        let ajax_reply = function (endpoint, request_parameters) {
            $.post(endpoint, request_parameters)
                .done(response => {
                    if (response == "fail") {
                        $('#login-warning').show()
                        return
                    }
                    $("#comment_section").html(response)
                })
        }
        let reply = function (post_id, parent_id) {
            var endpoint = "{% url 'blog:comment' 12345 %}".replace('/12345/', '/' + post_id + '/');
            console.log(endpoint)
            console.log(parent_id)
            ajax_reply(endpoint, {
                comment: $(`#reply-text-area${parent_id}`).val(),
                post_id: post_id,
                parent_id: parent_id,
                is_reply: "true",
                csrfmiddlewaretoken: '{{ csrf_token }}',
            })
            $(`#reply-text-area${parent_id}`).val("")
        }
        let ajax_comment = function (endpoint, request_parameters) {
            $.post(endpoint, request_parameters)
                .done(response => {
                    if (response == "fail") {
                        console.log("fail")
                        $('#login-warning').show()
                        return
                    }
                    $("#comment_section").html(response)
                })
        }
        let comment = function (parent_id) {
            ajax_comment("{% url 'blog:comment' post.id%}", {
                comment: $(`#comment-text-area`).val(),
                parent_id: parent_id,
                post_id: parent_id,
                is_reply: "false",
                csrfmiddlewaretoken: '{{ csrf_token }}',
            })
            $("#comment-text-area").val("")
        }
        const arrows = {active:{up:'▲', down:'▼'}, inactive:{up:'△', down:'▽'}}
        const active_up = '▲'
        const active_down = '▼'
        const inactive_up = '△'
        const inactive_down = '▽'
        let ajax_vote = function (endpoint, request_parameters) {
            $.post(endpoint, request_parameters)
                .done(response => {
                    if (response == false) {
                        return
                    }
                    id = response.id
                    element_id = `#${response.vote_type}${id}`
                    other_id = response.vote_type == 'up' ? `#down${id}` : `#up${id}`
                    vote_type = response.vote_type
                    status = response.was_active ? "inactive" : "active"
                    added_class = response.was_active ? 'bg-slate-300' : 'bg-slate-400'
                    removed_class = response.was_active ? 'bg-slate-400' : 'bg-slate-300'
                    $(element_id).html(arrows[status][vote_type])
                    $(element_id).removeClass(removed_class)
                    $(element_id).addClass(added_class)
                    if (response.flip) {
                        $(other_id).html(arrows.inactive[vote_type == 'up' ? 'down' : 'up'])
                        $(other_id).removeClass(added_class)
                        $(other_id).addClass(removed_class)
                    }
                    $(`#votes${id}`).html(response.votes)
                })
        }
        let vote = (vote_type, obj_type, id) => {
            ajax_vote("{% url 'blog:vote' %}", {
                vote_type: vote_type,
                obj_type: obj_type,
                id: id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            })
        }
        let sort = (sort_type) => {
            $("#comment_section").get(0).scrollIntoView()

        }
    </script>
    <section class="bg-slate-300 text-slate-700 sm:py-2 md:py-4">
        <div class="max-w-2xl mx-auto px-4">
            <div class="flex justify-between">
                <h2 class="text-md lg:text-lg font-bold p-2">Comments ({{comments.count}})</h2>
                <h3 class="text-md lg:text-lg font-bold p-2">Sort by: <a class="hover:cursor-pointer" onclick=sort("votes")>Votes</a> | <a  class="hover:cursor-pointer" onclick=sort("created_at")>Date</a></h3>
            </div>

            <div class="mb-4" id="fake-form">
                {% csrf_token %}
                <div class="py-2 px-4 mb-4 rounded-lg rounded-t-lg border bg-slate-200 border-slate-300 shadow-sm shadow-slate-400">
                    <label for="comment" class="sr-only">Your comment</label>
                    <textarea id="comment-text-area" name="comment" rows="2" class="px-0 w-full border-0 focus:ring-0 focus:outline-none bg-slate-200 placeholder-slate-700" placeholder="Write a comment..." required></textarea>
                </div>
                <button onclick=comment({{post.id}}) type="submit" value="comment" class="bg-slate-200 hover:bg-slate-400 rounded-xl p-2 shadow-sm shadow-slate-600 active:shadow-sm">
                    Post comment
                </button>
            </div>

        <div id="comment_section">
            {% block comment %}
            {% include "blog/comment_fragment.html" %}
            {% endblock %}
        </div>
     
        </div>
      </section>
    {% endblock %}


</body>
</html>

