{% extends "blog/base/base.html" %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Home</title>
		{% tailwind_css %}
	</head>
	<body>
        {% block content %}

        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>

        <a href="{% url 'blog:3d_profile' user.pk %}">3d Profile</a>

        
        
        {% endblock %}
    </body>
</html>


