{% extends "blog/base.html" %}
{% load static tailwind_tags %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>BrosCode Registration</title>
	{% tailwind_css %}
</head>
<body>
{%block content%}
<!--Register--> 
<div >
	<h1>Register</h1>
	<form method="POST" action="{% url 'blog:register' %}">
		{% csrf_token %}
		{% for field in form %}
			<div class="mx-10 flex p-2 flex-col bg-slate-300 justify-center rounded-xl">
				{{ field.label_tag }} 
				{{ field }}
				{% if field.errors %}
					<small>{{ field.errors|striptags }}</small> 
				{% endif %}
			</div>
		{% endfor %}              
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{%url 'blog:login'%}">login</a> instead.</p>
</div>
{% endblock %}
</body>
</html>